/* Import Font dari Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f8f8; /* Background utama */
}

/* Style Navbar Solid */
.navbar {
    background-color: #333;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 30px; /* Total tinggi 60px dgn padding */
    display: flex;
    align-items: center;
    
    /* Tambahkan ini agar navbar nempel di atas */
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin-right: 20px;
}

.nav-item.nav-right {
    margin-left: auto; /* Mendorong item ke kanan */
    margin-right: 0;
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
}

.nav-user {
    color: white;
    font-size: 16px;
    margin-left: 10px;
}

/* Konten utama */
.main-content {
  padding-top: 0; /* Navbar tidak mendorong konten */
}